{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="span12">
    <h2>What's on the menu today?</h2>
    <p>Make a GET request to <code>/menu</code>.</p>
    <pre>
{ "crossroads": {
        "breakfast": {
            "Banana Chocolate Chip Muffins": {
                "allergens": "Wheat, Gluten", 
                "ingredients": "Cake & Pastry Flour, Sugar, Semi Sweet Chocolate Chips ...", 
                "vegan": true
            }, 
            "Belgian Waffles": { ... }, 
            ...
  "foothill": {
        "dinner": {
            "Split Pea with Ham Soup": { ... }
            ...
        }
}
    </pre>
    <h3>How about yesterday? Or any other day?</h3>
    <p>Make a GET request to <code>/menu?date=&lsaquo;string:date&rsaquo;</code>. For example, try <code>/menu?date='2013-06-01'</code>.</p>
    <div class="row">
      <div class="span1"><span class="label label-info">Note</span></div>
      <p>Use the string pattern "Year-Month-Day"</p>
    </div>
    <div class="row">
      <div class="span1"><span class="label label-important">Note</span></div>
      <p>This server only has data starting from June, 2013.</p>
    </div>
    <hr>
    <h2>Food Information API</h2>
    <p>Make a GET request to <code>/{food}</code>.</p>
    <pre>{"2013-04-08": {"seatlimit": 36, "waitlist": 0, "enrolled": 7}}</pre>
  </div>
</div>
{% endblock %}