<!DOCTYPE html>
<html>
	<head>
		<title>Cal-Dining Food and Menu API</title>
		<link href="css/bootstrap.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class="container">
      <div class="page-header">
        <h1 class="text-center page-name">Cal-Dining Food and Menu API</h1>
      </div>
      {% block content %}
      {% endblock %}
      <hr>
    </div>
    <div class="footer">
      <div class="container">
        <p class="text-center muted">Made by Evan Ye.</p>
        <p class="text-center muted">Recieved advice and stolen style from <a href="http://www.ocf.berkeley.edu/~rkwan/">Ronald Kwan</a>.</p>
      </div>
    </div>
	</body>
</html>
